@mixin box-shadow {
  -webkit-box-shadow: -1px 5px 18px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 5px 18px -7px rgba(0,0,0,0.75);
  box-shadow: -1px 5px 18px -7px rgba(0,0,0,0.75);
}

@mixin media-query-max($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
